@page "/user"

@using BlazorApp.Data

<h3>Online Users</h3>

<p>
    Users: <b>@_users.Count()</b>
</p>

<ul class="list-group">
    @foreach(UserData user in _users)
    {
        <li @key="user" class="list-group-item">
            <label>@user.Name</label>
            <button type="button" class="btn btn-link" @onclick="(() => KickUser(user))">[Kick]</button>
        </li>
    }
</ul>

<br />

<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Add User" @bind-value="_inputName" />
        </div>
        <div class="col">
            <!-- 속성(attribute)에도 binding을 할 수가 있다 -->
            <!-- conditional attribute 속성 자체에 조건을 붙일 수도 있다 -->
            <button class="@_btnClass" type="button" @onclick="AddUser" disabled="@_users.Count() >= 5">Add a User</button>
        </div>
    </div>
</div>

@code {
    List<UserData> _users = new List<UserData>();

    string _inputName = "";
    string _btnClass = "btn btn-primary";

    protected override void OnInitialized()
    {
        _users.Add(new UserData(){ Name = "Johnny" });
        _users.Add(new UserData(){ Name = "Cindy" });
        _users.Add(new UserData(){ Name = "Songee" });
        RefreshButton();
    }

    void AddUser()
    {
        if (_inputName == "") return;

        _users.Add(new UserData() { Name = _inputName });
        _inputName = "";
        RefreshButton();
    }

    void KickUser(UserData user)
    {
        if (_users.Count() < 1) return;

        _users.Remove(user);
        RefreshButton();
    }

    void RefreshButton()
    {
        if (_users.Count() % 2 == 0)
            _btnClass = "btn btn-primary";
        else
            _btnClass = "btn btn-secondary";
    }
}
